@mixin Article () {
  .nav-title {
    padding: 0 10px;

    .page-title {
      margin-top: 10px;
      font-weight: normal;
      font-size: 18px;
      color: #32325d;
      margin-bottom: 10px;
      &::before{
        content: '#';
        color: teal;
        padding-right: 5px;
      }
    }
  }

  .article-container {
    padding: 12px 12px;
  }

  .container--fluid {
    max-width: 100%;
  }


  .meta-box {
    font-size: 12px;
    color: #757575;
    padding: 0 16px;
    display: flex;
    margin-bottom: 10px;
    align-content: center;

    .date {
      display: flex;
      align-items: center;
      margin-right: 12px;
    }

    .author {
      @extend .date;
    }
  }

  .content {
    padding: 0 16px;
    font-size: 15px;
    line-height: 24px;
  }
  .pagination{
    margin-top: 20px;
  }
}
