@mixin Article () {
  .article-container {
    padding: 12px 12px;
  }

  .container--fluid {
    max-width: 100%;
  }


  .meta-box {
    font-size: 12px;
    color: #757575;
    padding: 0 16px;
    display: flex;
    margin-bottom: 10px;
    align-content: center;

    .date {
      display: flex;
      align-items: center;
      margin-right: 12px;
      .con-yanjing{
        margin-right: 4px;
      }
    }

    .author {
      @extend .date;
      .con-yanjing{
        margin-right: 4px;
      }
    }
    .watch {
      @extend .author;
      .con-yanjing{
        font-size: 12px;
        margin-right: 4px;
      }
    }
  }

  .content {
    padding: 0 16px;
    font-size: 15px;
    line-height: 24px;
  }
  .pagination{
    margin-top: 20px;
  }
}
